In [13]:
import pandas as pd
import numpy as np 
data = pd.read_csv('Fodor_Log.csv', header= None,sep=';')

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4,5,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,195.91.111.125,-,10/Oct/2011:00:01:25,GET /udalosti/1925-Nitrianske-univerzitne-dni-...,200,5729,http://www.google.sk/url?sa=t&source=web&cd=1&...,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,NaN,NaN,NaN,NaN,NaN,NaN
1,69.4.231.200,-,10/Oct/2011:00:02:32,GET /media-ukf/irs?option=com_rsgallery2&page=...,404,2132,-,Mozilla/4.0 (compatible; MSIE 6.0; Windows NT ...,NaN,NaN,NaN,NaN,NaN,NaN
2,69.4.231.200,-,10/Oct/2011:00:03:08,GET /media-ukf/irs?option=com_rsgallery2&page=...,404,2132,-,Mozilla/4.0 (compatible; MSIE 6.0; Windows NT ...,NaN,NaN,NaN,NaN,NaN,NaN
3,195.168.176.130,-,10/Oct/2011:00:03:38,GET /priame-odkazy/206-Moznosti-studia-v-akade...,200,4492,http://www.ukf.sk/,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,NaN,NaN,NaN,NaN,NaN,NaN
4,195.168.176.130,-,10/Oct/2011:00:03:40,GET /prijimaciekonanie/moznosti-vs-studia HTTP...,200,5373,http://www.ukf.sk/priame-odkazy/206-Moznosti-s...,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
dirty = open('dirty.csv','w+')
clean = open('clean.csv','w+')

data.to_csv(r'dirty.csv',index= None,sep = ',',mode='a')

In [16]:
rows = len(open('dirty.csv').readlines( ))
count_lines = 0
count_clear_lines = 0
tokens = ['.js','.jpg','.css','.png','.flv','.gif','.ico','.jpeg','.swf','.rss','.xml','.cur',' 400 ',
         ' 401 ',' 402 ',' 403 ',' 404 ',' 405 ',' 406 ',' 407 ',' 408 ',' 409 ',' 410 ',' 411 ',' 412 ',
        ' 413 ',' 414 ',' 415 ',' 416 ',' 417 ',' 418 ',' 419 ',' 420 ',' 421 ',' 422 ',' 423 ',' 424 ',
        ' 425 ',' 426 ',' 427 ',' 428 ',' 429 ',' 430 ',' 431 ', ' 500 ',' 501 ', ' 502 ',' 503 ', ' 504 ',
         ' 505 ',' 506 ',' 507 ',' 508 ',' 509 ',' 510 ',' 511 ']
bots = ['bot', 'crawl', 'spider']
ip_adress_robots = []

In [17]:
with open('dirty.csv') as dt:
    line = dt.readline()
    while line:
        count_lines += 1
        row = dt.readline()
        if count_lines == rows:
            break
        if any(bot in row for bot in bots):
            ip_robot = row.split(',')[0]
            if not ip_robot in tokens:
                tokens.append(ip_robot)
                ip_adress_robots.append(ip_robot)

In [18]:

print(tokens)
print(count_lines)
print(count_clear_lines)
print(ip_adress_robots)

['.js', '.jpg', '.css', '.png', '.flv', '.gif', '.ico', '.jpeg', '.swf', '.rss', '.xml', '.cur', ' 400 ', ' 401 ', ' 402 ', ' 403 ', ' 404 ', ' 405 ', ' 406 ', ' 407 ', ' 408 ', ' 409 ', ' 410 ', ' 411 ', ' 412 ', ' 413 ', ' 414 ', ' 415 ', ' 416 ', ' 417 ', ' 418 ', ' 419 ', ' 420 ', ' 421 ', ' 422 ', ' 423 ', ' 424 ', ' 425 ', ' 426 ', ' 427 ', ' 428 ', ' 429 ', ' 430 ', ' 431 ', ' 500 ', ' 501 ', ' 502 ', ' 503 ', ' 504 ', ' 505 ', ' 506 ', ' 507 ', ' 508 ', ' 509 ', ' 510 ', ' 511 ', '157.55.50.10', '157.55.50.11', '157.55.107.141', '157.55.50.76', '207.46.199.177', '89.173.143.90', '85.237.224.63', '207.46.199.189', '157.55.50.12', '117.215.17.95', '62.168.112.42', '157.55.50.77', '87.106.146.181', '95.31.135.150', '193.238.39.68', '94.181.186.142', '178.91.69.67', '46.167.82.253', '178.67.77.117', '83.149.1.193', '212.3.145.231', '88.81.49.23', '92.113.65.20', '109.184.74.130', '95.134.239.105', '95.30.71.207', '89.252.16.110', '95.26.246.112', '188.234.145.33', '91.76.121.122', '92.101.130.168', '109.122.11.252', '89.169.139.146', '92.245.61.236', '194.28.140.159', '109.232.117.27', '79.142.87.2', '193.87.108.34', '64.121.56.246', '147.175.23.136', '157.55.50.78', '120.33.244.68']
88625
0
['157.55.50.10', '157.55.50.11', '157.55.107.141', '157.55.50.76', '207.46.199.177', '89.173.143.90', '85.237.224.63', '207.46.199.189', '157.55.50.12', '117.215.17.95', '62.168.112.42', '157.55.50.77', '87.106.146.181', '95.31.135.150', '193.238.39.68', '94.181.186.142', '178.91.69.67', '46.167.82.253', '178.67.77.117', '83.149.1.193', '212.3.145.231', '88.81.49.23', '92.113.65.20', '109.184.74.130', '95.134.239.105', '95.30.71.207', '89.252.16.110', '95.26.246.112', '188.234.145.33', '91.76.121.122', '92.101.130.168', '109.122.11.252', '89.169.139.146', '92.245.61.236', '194.28.140.159', '109.232.117.27', '79.142.87.2', '193.87.108.34', '64.121.56.246', '147.175.23.136', '157.55.50.78', '120.33.244.68']

In [19]:
count_lines = 0
count_clear_lines = 0

with open('dirty.csv') as dt:
    line = dt.readline()
    while line:
        count_lines += 1
        row = dt.readline()
        if count_lines == rows:
            break
        if not any(token in row for token in tokens):
            count_clear_lines += 1
            clean.write(row)

print(count_lines)
print(count_clear_lines)

88625
82663

In [20]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,195.91.111.125,-,10/Oct/2011:00:01:25,GET /udalosti/1925-Nitrianske-univerzitne-dni-...,200,5729,http://www.google.sk/url?sa=t&source=web&cd=1&...,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,NaN,NaN,NaN,NaN,NaN,NaN
1,69.4.231.200,-,10/Oct/2011:00:02:32,GET /media-ukf/irs?option=com_rsgallery2&page=...,404,2132,-,Mozilla/4.0 (compatible; MSIE 6.0; Windows NT ...,NaN,NaN,NaN,NaN,NaN,NaN
2,69.4.231.200,-,10/Oct/2011:00:03:08,GET /media-ukf/irs?option=com_rsgallery2&page=...,404,2132,-,Mozilla/4.0 (compatible; MSIE 6.0; Windows NT ...,NaN,NaN,NaN,NaN,NaN,NaN
3,195.168.176.130,-,10/Oct/2011:00:03:38,GET /priame-odkazy/206-Moznosti-studia-v-akade...,200,4492,http://www.ukf.sk/,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,NaN,NaN,NaN,NaN,NaN,NaN
4,195.168.176.130,-,10/Oct/2011:00:03:40,GET /prijimaciekonanie/moznosti-vs-studia HTTP...,200,5373,http://www.ukf.sk/priame-odkazy/206-Moznosti-s...,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,NaN,NaN,NaN,NaN,NaN,NaN